body {
  margin: 0;
}

button {
  border: 0;
  background-color: #c9c9c9;
  padding: 0.5rem;
  margin: 0.25rem;
  box-shadow: black 0 4px 12px -4px;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }
}