body {
  margin: 0;
}

.buttonish {
  background-color: #c9c9c9;

  border: 0;
  padding: 0.5rem;
  margin: 0.25rem;
  box-shadow: black 0 4px 12px -4px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }
}

.buttonish-disabled {
  box-shadow: none;
}

$danger-red: #c33030;
$success-green: #30c330;
.danger {
  background-color: $danger-red;
  color: white;
}

.success {
  background-color: $success-green;
}


.filter-input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 1rem;
  padding: 0.25rem;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 5px solid $success-green;
}

.ng-invalid.ng-touched:not(form):not([formgroupname])  {
  border-bottom: 5px solid $danger-red;
}
